@import url('https://fonts.googleapis.com/css2? family= Abril+Fatface & family= Oswald:wght@200;300;400;500;600;700 & family= Roboto:wght@ 100;300;400;500;700;900 & family= Signika:wght@300;400;500;600;700 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika';
}

.container{
    max-width: 1200 px;
    margin: 0 auto;
    
   
    
}
p{
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
    
    
}
h1{
    
    font-size: 30px;
    text-align: center;
    margin-bottom: 25px; 
    padding-top: 20px;
}
h2{
font-size: 48px;
}
h{
    font-size: 23px;
    color: #0071E3;
    margin-top: 5px;
}
.many{
    margin-top: 48px;
    cursor: pointer;
}
.flex{
    display: flex;
    gap: 80px;
    justify-content: center;
    /* align-items: center; */
}
.txt{
    margin-top: 30px;
}
.colored_btn{
    background-color:#0071E3;
    color: white;
    padding: 10px 15px;
    width: 180px;
    
    border: 2px solid  #CFE7FF;
    border-radius: 10px;
    font-size: 15px;
    transition: 200ms;
    
}
.activ{
    background-color:#0071E3;
    color: white;
    
    
}
.not_activ{
    background-color: 
    #CFE7FF;
    color: 
    #797979;
    
}
.colored_btn:hover{
    border: 2px solid  #007FFF;
    border-radius: 10px;    
}

.colored_btn_2{
    background-color: 
    #CFE7FF;
    color: 
    #797979;
    margin-left: 10px;

}
.forum{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.btns{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}
.with_btn{
    width: 370px;
 padding: 18px 20px;
 border: 2px solid #CFE7FF;
 background-color: white;
 border-radius: 10px;
 transition: 500ms;

}.border_btn{
    border: 2px solid#007FFF;
}
.with_btn:hover{
    border: 2px solid 
#007FFF;
}
.cnt{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.left{
    align-self:flex-start;
}



@media (max-width: 760px) {
    .container{
     max-width: 1200px;

        
    }
    .forum{
        margin: 20px;
        
    }
    p{
       font-size: 15px;
        text-align: center;
        margin: 30px auto;
        /* margin-bottom: 40px; */
        
        
    }
    
    h1{
        font-size: 32px;
        text-align: center;
        margin-bottom: 20px; 
    }
    h2{
    font-size: 42px;
    }
    h{
        font-size: 25px;
        color: #0071E3;
        margin-top: 5px;
    }
    .flex{
        display: flex;
        gap: 40px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .colored_btn{
        background-color:#0071E3;
        color: white;
        padding: 10px 15px;
        width: 150px;
        
        border: 2px solid  #CFE7FF;
        border-radius: 10px;
        font-size: 15px;
        transition: 200ms;
        
    }
    .activ{
        background-color:#0071E3;
        color: white;
        
        
        
    }
    .not_activ{
        background-color: 
        #CFE7FF;
        color: 
        #797979;
        
        
    }
    .colored_btn_2{
        background-color: 
        #CFE7FF;
        color: 
        #797979;
        margin-left: 10px;
        
    
    }
    
.with_btn{
    width: 325px;
 padding: 18px 20px;
 border: 2px solid 
 #CFE7FF;
 background-color: white;
 border-radius: 10px;
 transition: 500ms;

}


    
}

@media (max-width: 575px) {
    
    
   
    .flex{
        display: flex;
        gap: 40px;
        
        flex-direction: column;
        align-items: center;
    }
    
    .not_activ{
        background-color: 
        #CFE7FF;
        color: 
        #797979;
    
    }
    p{
        width: 100%;
        text-align: center;
        margin: 30px auto;
        /* margin-bottom: 40px; */
        
        
    }
    .activ{
        background-color:#0071E3;
        color: white;
        
        
    }
    h1{
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px; 
    }
    h2{
    font-size: 40px;
    }
    h{
        font-size: 22px;
        color: #0071E3;
        margin-top: 5px;
    }
    .flex{
        display: flex;
        gap: 40px;
        
        flex-direction: column;
        align-items: center;
    }
    .colored_btn{
        background-color:#0071E3;
        color: white;
        padding: 10px 15px;
        width: 150px;
        
        border: 2px solid  #CFE7FF;
        border-radius: 10px;
        font-size: 12px;
        transition: 200ms;
        
    }
    .colored_btn_2{
        background-color: 
        #CFE7FF;
        color: 
        #797979;
        margin-left: 10px;
    
    }
    
.with_btn{
    width: 325px;
 padding: 18px 20px;
 border: 2px solid 
 #CFE7FF;
 background-color: white;
 border-radius: 10px;
 transition: 500ms;

}
}

.modal_div{
    
    display: block;
    width: 100%;
    height: 250%;
    background: rgba(0, 0, 0, 0.47);
  display: flex;
  justify-content: center;
 position: fixed;
 right: 0;
 left: 0;
 z-index: 2;
 
 
}
.modal_applicate{
  

   
    background-color:  #F0F0F0;
    width: 600px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10%;
    transform: rotateY('-10%');
    border-radius: 6px;
    transition: all 300ms ease-in-out;
    

}
.form{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    
}
.modal_h2{
   margin-bottom: 30px;
    font-size: 50px;
}
.btn_x{
    
    width: 0;
    height: 0;
  border: none;
  position: absolute;
  right: 0;
  left: 96%;
  top: 0px;
}
.input {
    width: 400px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: dimgray;
  }
  input{
    width: 400px;
    padding: 12px;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px 7px 0 rgb(0, 0, 0, 0.2);
    outline: none;
    color: dimgray;
  }
  
  .input:invalid {
    animation: justshake 0.3s forwards;
    color: red;
  }
  
  @keyframes justshake {
    25% {
      transform: translateX(5px);
    }
  
    50% {
      transform: translateX(-5px);
    }
  
    75% {
      transform: translateX(5px);
    }
  
    100% {
      transform: translateX-(5px);
    }
  }
.color_input{
    
    background-color: 
    #0094FF;
    color: white;
}

.active{
    display: block;
}
.not_active{
    display: none;
}

header{
display: flex;
justify-content: center;
align-items: center;
position: relative;
z-index: 1;
gap: 10px;

}
.container-input {
    position: relative;
    margin-top: 20px;

  }
  
  .inputt {
    width: 230px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
  }
  
  .container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
  
  .inputt:focus {
    opacity: 1;
    width: 290px;
  }

.menuButton {
    
    display: flex;
    margin-top: 13px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12%;
    color: #090909;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 6px 6px 12px #c5c5c5,
               -6px -6px 12px #ffffff;
  }
  
  .menuButton:hover {
    border: 1px solid white;
  }
  
  .menuButton:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
               inset -4px -4px 12px #ffffff;
  }
  
  input[type = "checkbox"] {
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
  }
  
  .menuButton span {
    width: 25px;
    height: 4px;
    background: #131313;
    border-radius: 100px;
    transition: 0.3s ease;
  }
  
  input[type]:checked ~ span.top {
    transform: translateY(180%)rotate(45deg);
    width: 28px;
  }
  
  input[type]:checked ~ span.bot {
    transform: translateY(-250%) rotate(-45deg);
    width: 28px;
    box-shadow: 0 0 10px #495057;
  }
  
  input[type]:checked ~ span.mid {
    transform: translateX(-22px);
    opacity: 0;
  }

  .menu_div{
    width: 100%;
    height: 30vh;
    background: rgb(0, 0, 0);
    opacity: 0.9;
    position: fixed;
    z-index: 2;
    
  }
  .btn_x2{
   width: 50px;
    left: 50%;
    
   position: relative;
    box-shadow: inset 4px 4px 12px #c5c5c5,
    inset -4px -4px 12px #ffffff;
  }